# Database
DATABASE_URL=postgresql://appuser:PASSWORDHERE@localhost:5432/appdb
POSTGRES_USER=appuser
POSTGRES_PASSWORD= #CHANGE PASSWORD HERE
POSTGRES_DB=appdb
# JWT
JWT_SECRET_KEY=6d8430dcdc66f64592ab631bd2b3f447
JWT_ALGORITHM=HS256
JWT_EXPIRE_MINUTES=60