# Dependencies
node_modules/

# Python
__pycache__/
*.pyc
.venv/
venv/

# Environment variables
.env
.env.*
!.env.example

# IDEs and editors
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json